<div class="flex flex-col items-center w-full pb-8">
  <div>
    <h1 class="text-2xl cursor-pointer list">
      <i class="fa-solid fa-chevron-right mr-2 duration-200"></i>Academy Award
      Winnders Worth Watching
    </h1>
    <div id="list-1-results" class="hidden">
      <div>Movie 1</div>
      <div>Movie 2</div>
      <div>Movie 3</div>
      <div>Movie 4</div>
      <div>Movie 5</div>
    </div>
  </div>
</div>
