<section
  class="relative bg-lightGold border-y border-y-mediumGold"
  id="hero-section"
>
  <div
    class="container flex flex-col items-center max-w-2xl mx-auto pb-32 pt-32 space-y-10"
  >
    <h1 class="text-6xl font-bold">Find the perfect movie</h1>
    <h2 class="text-xl">55 lists that make it easy to stream a great movie</h2>
</section>
