<!DOCTYPE html>
<html lang="en">
  <%- include('./components/header.ejs') -%>

  <body class="text-darkBlue bg-white">
    <!--Navbar-->

    <%- include('./components/navbar.ejs') -%>

    <!--Hero section-->

    <%- include('./components/hero.ejs') -%>

    <main>
      <!--Lists Section-->

      <%- include('./components/lists.ejs') -%>
    </main>

    <script src="js/script.js"></script>
  </body>
</html>
